// Place all the styles related to the chat_room controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.container {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 0px;
}

// Navbar Style //
.navbar {
  height: 128px;
  width: 100%;
  background-color: #FF7034;
  border-bottom: solid 3px;
  border-top: solid 3px;
}

// Chatbot Bubble Style //
div .chatbubblesty {
  border-radius: 30px 30px 30px 0px;
  background: #73AD21;
  padding: 12.5px;
  display: inline-block;
  border: solid 2.5px #663300;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
}

// User Bubble Style //
div .chatbubblesty2 {
  border-radius: 30px 30px 30px 0px;
  background: #ffcccc;
  padding: 12.5px;
  display: inline-block;
  border: solid 2.5px #663300;
  font-family: Comic Sans, Comic Sans MS, cursive;
  font-size:17px;
}

// Chat Bubble Underlying Shadow Effect //
.shadow {
  content: "";
  position:inherit;
  box-shadow: rgba(0, 0, 0, 0.3) 30px 10px 10px ;
  bottom: -10px;
  left: 50px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent #FFF #FFF transparent;
}

// Chatbot Name/Logo img //
div.namelogo {
  height:78px;
  background-image:url(http://res.cloudinary.com/visionrealm42/image/upload/v1471912052/Chatbot_Logo_stbojx.png);
  background-repeat: no-repeat;
}

// Friendly text after Title //
div.friendly {
  margin-top: 2px;
  margin-bottom: 9px;
  font-family: fantasy;
}

// Transparent Robot img //
.retrorobot {
  float: right;
  position: fixed;
  height: 100%;
  width: 100%;
  display: block;
  background-image:url(http://res.cloudinary.com/visionrealm42/image/upload/c_scale,w_292/v1472209449/imageedit_5_9265696667_phj4ha.gif);
  background-repeat: no-repeat;
  margin-left: 900px;
}
