<!DOCTYPE html>
<html>
<head>

<title>ChatBot</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>

  <body>
    <%= yield %>
  </body>

  
  <script type='text/javascript'>

    $(window).scroll(function(e){
      parallax();
    });

    function parallax(){
      var scrolled = $(window).scrollTop();
      $('.polka').css('top',-(scrolled*0.4)+'px');
    }

    voiceToText.loadText();
  </script>
</html>
